<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="35px"
  height="35px"
  viewBox="0 0 35 35"
  version="1.1"
>
  <title>emoji</title>
  <g id="surface1">
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(98.039216%,75.294118%,21.176471%);fill-opacity:1;"
      d="M 14.160156 23.476562 C 13.894531 23.730469 13.628906 23.4375 13.628906 23.4375 C 13.628906 23.4375 9.125 18.777344 8.835938 18.570312 C 8.425781 18.28125 7.550781 17.824219 6.6875 18.734375 C 6.328125 19.109375 5.746094 19.945312 6.863281 21.269531 C 7.105469 21.554688 14.117188 28.773438 14.523438 29.164062 C 14.523438 29.164062 17.761719 32.238281 19.710938 33.386719 C 20.25 33.707031 20.859375 34.042969 21.566406 34.273438 C 22.269531 34.507812 23.066406 34.664062 23.902344 34.65625 C 24.742188 34.65625 25.605469 34.484375 26.425781 34.175781 C 27.242188 33.863281 28.003906 33.410156 28.691406 32.894531 C 28.859375 32.761719 29.03125 32.628906 29.191406 32.488281 L 29.652344 32.097656 C 29.976562 31.824219 30.273438 31.535156 30.5625 31.238281 C 31.140625 30.648438 31.660156 30.019531 32.113281 29.378906 C 32.570312 28.734375 32.953125 28.066406 33.257812 27.402344 C 33.5625 26.742188 33.773438 26.078125 33.898438 25.449219 C 34.027344 24.824219 34.0625 24.230469 34.035156 23.71875 C 34.023438 23.207031 33.917969 22.765625 33.828125 22.417969 C 33.726562 22.066406 33.621094 21.804688 33.535156 21.632812 C 33.453125 21.460938 33.410156 21.367188 33.410156 21.367188 C 33.296875 21.058594 33.191406 20.761719 33.089844 20.496094 C 32.816406 19.746094 32.5 18.90625 32.171875 18.042969 C 32.03125 17.675781 31.96875 17.507812 31.96875 17.507812 L 31.972656 17.511719 C 30.769531 14.359375 29.476562 11.109375 29.476562 11.109375 C 29.28125 10.539062 28.578125 10.34375 28.066406 10.722656 C 26.589844 11.808594 26.152344 13.371094 26.699219 15.027344 L 28.085938 18.699219 C 28.28125 19.109375 27.765625 19.589844 27.410156 19.308594 C 26.292969 18.421875 23.929688 15.96875 23.929688 15.96875 C 22.871094 14.980469 16.910156 9.007812 16.511719 8.644531 C 15.707031 7.914062 14.703125 7.546875 13.945312 8.117188 C 13.175781 8.699219 12.964844 9.585938 13.730469 10.542969 C 13.9375 10.804688 19.964844 17.023438 19.964844 17.023438 C 20.316406 17.386719 19.910156 17.902344 19.527344 17.554688 C 19.527344 17.554688 12.027344 9.914062 11.6875 9.554688 C 10.921875 8.746094 9.703125 8.578125 8.988281 9.261719 C 8.289062 9.929688 8.320312 11.015625 9.101562 11.859375 C 9.347656 12.125 14.628906 17.574219 16.746094 19.804688 C 16.886719 19.957031 16.996094 20.15625 16.792969 20.347656 C 16.792969 20.351562 16.585938 20.582031 16.3125 20.292969 C 15.738281 19.695312 10 13.855469 9.679688 13.539062 C 8.945312 12.8125 7.96875 12.476562 7.199219 13.203125 C 6.492188 13.863281 6.394531 15 7.222656 15.796875 L 14.175781 22.976562 C 14.179688 22.980469 14.40625 23.242188 14.160156 23.476562 Z M 14.160156 23.476562 "
    />
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(98.039216%,75.294118%,21.176471%);fill-opacity:1;"
      d="M 11.585938 21.75 C 11.441406 22.082031 11.078125 21.914062 11.078125 21.914062 C 11.078125 21.914062 5.117188 19.375 4.769531 19.300781 C 4.277344 19.191406 3.296875 19.113281 2.855469 20.285156 C 2.675781 20.769531 2.460938 21.769531 4.003906 22.554688 C 4.339844 22.722656 13.605469 26.640625 14.132812 26.84375 C 14.132812 26.84375 18.3125 28.417969 20.554688 28.714844 C 21.175781 28.796875 21.871094 28.875 22.609375 28.8125 C 23.351562 28.75 24.144531 28.585938 24.910156 28.25 C 25.679688 27.925781 26.410156 27.429688 27.042969 26.828125 C 27.675781 26.222656 28.199219 25.511719 28.632812 24.769531 C 28.738281 24.582031 28.84375 24.394531 28.933594 24.203125 L 29.210938 23.664062 C 29.398438 23.28125 29.5625 22.898438 29.714844 22.519531 C 30.019531 21.75 30.25 20.96875 30.421875 20.199219 C 30.589844 19.429688 30.683594 18.664062 30.707031 17.933594 C 30.730469 17.203125 30.664062 16.511719 30.539062 15.882812 C 30.417969 15.253906 30.214844 14.699219 29.992188 14.238281 C 29.78125 13.769531 29.507812 13.40625 29.292969 13.117188 C 29.0625 12.835938 28.867188 12.632812 28.722656 12.507812 C 28.578125 12.382812 28.503906 12.3125 28.503906 12.3125 C 28.277344 12.074219 28.0625 11.84375 27.867188 11.636719 C 27.324219 11.050781 26.707031 10.402344 26.070312 9.734375 C 25.800781 9.449219 25.675781 9.324219 25.675781 9.324219 L 25.679688 9.328125 C 23.34375 6.894531 20.886719 4.402344 20.886719 4.402344 C 20.484375 3.953125 19.765625 4.046875 19.4375 4.59375 C 18.503906 6.167969 18.707031 7.777344 19.855469 9.09375 L 22.5625 11.933594 C 22.898438 12.234375 22.609375 12.878906 22.171875 12.757812 C 20.800781 12.375 17.667969 11.035156 17.667969 11.035156 C 16.3125 10.535156 8.496094 7.355469 7.984375 7.175781 C 6.960938 6.8125 5.890625 6.867188 5.417969 7.6875 C 4.933594 8.519531 5.085938 9.421875 6.164062 10.003906 C 6.457031 10.164062 14.425781 13.550781 14.425781 13.550781 C 14.890625 13.742188 14.71875 14.378906 14.230469 14.207031 C 14.230469 14.207031 4.351562 10.085938 3.898438 9.886719 C 2.875 9.4375 1.6875 9.757812 1.296875 10.667969 C 0.914062 11.554688 1.367188 12.546875 2.410156 13.015625 C 2.742188 13.164062 9.730469 16.128906 12.546875 17.359375 C 12.734375 17.441406 12.910156 17.585938 12.800781 17.84375 C 12.800781 17.847656 12.703125 18.140625 12.335938 17.980469 C 11.574219 17.652344 4.015625 14.503906 3.597656 14.335938 C 2.640625 13.953125 1.613281 14.023438 1.179688 14.988281 C 0.789062 15.875 1.136719 16.960938 2.210938 17.371094 L 11.40625 21.28125 C 11.40625 21.28125 11.71875 21.4375 11.585938 21.75 Z M 11.585938 21.75 "
    />
    <path
      style=" stroke:none;fill-rule:nonzero;fill:rgb(89.411765%,54.901961%,8.235294%);fill-opacity:1;"
      d="M 27.742188 17.609375 C 28.050781 18.324219 28.542969 18.84375 27.804688 19.378906 C 26.804688 20.101562 24.757812 17.621094 23.9375 16.785156 C 22.917969 15.746094 21.925781 14.640625 20.886719 13.613281 C 19.472656 12.210938 17.53125 10.308594 16.152344 8.867188 C 14.550781 7.199219 12.953125 9.191406 13.710938 10.738281 C 13.78125 10.890625 13.886719 11.042969 14.019531 11.199219 C 14.429688 11.667969 14.871094 12.101562 15.308594 12.546875 C 15.3125 12.554688 18.710938 15.808594 19.824219 16.929688 C 20.328125 17.457031 20.054688 18.105469 19.734375 17.8125 C 19.410156 17.519531 17.230469 15.570312 16.238281 14.5625 C 14.683594 12.976562 12.699219 10.996094 10.921875 9.515625 C 9.914062 8.675781 7.550781 10.375 9.78125 12.566406 C 9.867188 12.652344 16.445312 19.101562 17.28125 19.925781 C 17.550781 20.191406 17.117188 20.46875 17.117188 20.46875 C 16.9375 20.628906 9.847656 13.902344 9.582031 13.640625 C 8.128906 12.179688 5.628906 13.984375 7.675781 16.070312 C 8.421875 16.828125 10.785156 19.261719 12.324219 20.847656 C 12.832031 21.378906 14.082031 22.507812 14.832031 23.164062 C 14.988281 23.300781 14.605469 23.460938 14.511719 23.585938 C 14.375 23.773438 9.285156 19.167969 8.761719 18.746094 C 7.59375 17.8125 5.570312 19.457031 6.757812 21.039062 C 7.367188 21.851562 11.605469 25.863281 12.21875 26.445312 C 15.398438 29.464844 16.007812 30.214844 19.875 32.953125 C 20.367188 33.300781 21.769531 34.382812 21.359375 34.210938 C 15.925781 31.878906 11.140625 26.488281 7.007812 22.71875 C 5.800781 21.617188 4.871094 19.566406 6.300781 18.199219 C 6.863281 17.664062 7.25 17.550781 7.980469 17.59375 C 7.980469 17.59375 7.933594 17.539062 7.296875 16.863281 C 6.683594 16.210938 5.265625 14.242188 6.582031 12.96875 C 7.617188 11.96875 8.773438 12.40625 8.683594 12.308594 C 7.703125 11.132812 7.824219 9.835938 8.660156 9.050781 C 9.667969 8.105469 11.035156 8.0625 12.808594 9.894531 C 12.699219 9.566406 12.445312 8.757812 13.292969 7.988281 C 14.933594 6.496094 16.320312 7.570312 19.445312 10.933594 C 22.042969 13.71875 26.070312 17.828125 26.070312 17.828125 C 26.300781 18.03125 26.902344 18.753906 27.273438 18.523438 C 27.492188 18.390625 27.148438 17.988281 26.789062 17.164062 C 25.492188 14.207031 25.464844 11.640625 28.359375 10.582031 C 28.546875 10.410156 27.261719 11.535156 26.875 12.804688 C 26.5 14.023438 27.03125 15.953125 27.742188 17.609375 Z M 27.742188 17.609375 "
    />
    <path
      style="fill:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke:rgb(26.666667%,26.666667%,26.666667%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 101.285714 3.114286 L 94.871429 23.228571 "
      transform="matrix(0.273438,0,0,0.273438,0,0)"
    />
    <path
      style="fill:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke:rgb(26.666667%,26.666667%,26.666667%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 42.485714 22.7 L 31.785714 9.971429 "
      transform="matrix(0.273438,0,0,0.273438,0,0)"
    />
    <path
      style="fill:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke:rgb(26.666667%,26.666667%,26.666667%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 52.785714 3.114286 L 50.414286 21.685714 "
      transform="matrix(0.273438,0,0,0.273438,0,0)"
    />
    <path
      style="fill:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke:rgb(26.666667%,26.666667%,26.666667%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 112.7 21.357143 L 100.342857 31.285714 "
      transform="matrix(0.273438,0,0,0.273438,0,0)"
    />
  </g>
</svg>
