<script>
  import { is_function } from 'svelte/internal';
  import ClapingEmoji from './clapingEmoji.svelte';
  import Trash from './Trash.svelte';

  let todos = [];
  let todoText = '';
  let hideCompleted = false;
  let allTasksCompleted = false;

  $: todosCount = todos.length;
  $: completedCount = todos.filter((t) => t.completed).length;

  function addTodo() {
    const id = Math.ceil(Math.random() * 100_000).toFixed();
    const todoItem = { id, text: todoText, completed: false };
    todos = [...todos, todoItem];
    todoText = '';
  }

  function deleteTodoItem(id) {
    var todoId = id;
    for (var i = 0; i < todos.length; i++) {
      if (todos[i].id == todoId) {
        todos[i].id = todoId;
        todos.splice(i, 1);
        checkIfAllTasksAreCompleted();
        return 0;
      }
    }
  }

  function checkIfAllTasksAreCompleted() {
    allTasksCompleted = true;
    for (var i = 0; i < todos.length; i++) {
      if (!todos[i].completed) {
        allTasksCompleted = false;
      }
    }
    if (todos.length == 0) {
      allTasksCompleted = false;
    }
  }
</script>

<h1>Todo App</h1>
<ul>
  <p>
    <input type="checkbox" id="hideCompleted" bind:checked={hideCompleted} />
    <label for="hideCompleted">Hide completed</label>
  </p>
  {#each todos as todo}
    {#if (hideCompleted && !todo.completed) || !hideCompleted}
      <li aria-labelledby={`todo-${todo.id}`}>
        <input
          await
          bind:checked={todo.completed}
          type="checkbox"
          id={`todo-${todo.id}`}
          on:click={function () {
            todo.completed = !todo.completed;
            checkIfAllTasksAreCompleted();
          }}
        />
        <label for={`todo-${todo.id}`}>{todo.text}</label>
        <button on:click={deleteTodoItem(todo.id)}>
          <Trash />
        </button>
      </li>
    {/if}
  {:else}
    <p>No todos found 😱</p>
  {/each}
  {#if allTasksCompleted}
    <p>Great success! You have completed all items! <ClapingEmoji /></p>
  {/if}
</ul>
<h3>Completed: {completedCount}/{todosCount}</h3>
<input bind:value={todoText} type="text" placeholder="Tell me what to do..." />
<button on:click={addTodo} type="button">Add todo</button>

<style>
  ul {
    width: 33vw;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
  }

  li > :first-child {
    margin-right: 10px;
  }

  li > button {
    cursor: pointer;
    margin-left: auto;
  }
</style>
